Test

열이 다른 데이터프레임들 사이에서
서로의 행으로 자신의 행을 변경할 수 있을까

iloc과 loc 사용

In [1]:
import pandas as pd

In [7]:
test = {
    'a':[1,2,3],
    'b':['ㄱ','ㄴ','ㄷ'],
    'c':['믿음','사랑','소망']
}

test2 = {
    'a':[5,6,7],
    'b':['ㄹ','ㅁ','ㅂ'],
    'c':['오래참고','온유하며','시기하지않으며'],
    'd':['기도','예배','성경']
}

test3 = {
    'a':[8,9],
    'b':['ㅅ','ㅇ']
}

In [8]:
df = pd.DataFrame(test)
df2 = pd.DataFrame(test2)
df3 = pd.DataFrame(test3)

In [9]:
df

   a  b   c
0  1  ㄱ  믿음
1  2  ㄴ  사랑
2  3  ㄷ  소망

In [10]:
df2

   a  b        c   d
0  5  ㄹ     오래참고  기도
1  6  ㅁ     온유하며  예배
2  7  ㅂ  시기하지않으며  성경

In [11]:
df3

   a  b
0  8  ㅅ
1  9  ㅇ

In [13]:
df.loc[0] = df2.loc[0]
df

   a  b     c
0  5  ㄹ  오래참고
1  2  ㄴ    사랑
2  3  ㄷ    소망

In [14]:
df.iloc[0] = df2.iloc[0]
df

ValueError: Must have equal len keys and value when setting with an iterable

In [15]:
df.loc[1] = df3.loc[1]
df

   a  b     c
0  5  ㄹ  오래참고
1  9  ㅇ   NaN
2  3  ㄷ    소망

In [16]:
df.iloc[1] = df3.iloc[1]

ValueError: Must have equal len keys and value when setting with an iterable